<!doctype html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h1>User Signup</h1>
    <table>
    <form action="/">
    <tr><td>
    <label>Username: </td><td>
        <input type="text" name="username" />
    </label></td></tr><br><tr><td>
    <label>Password: </td><td>
        <input type="text" name="username" />
    </label></td></tr><br><tr><td>
    <label>Confirm Password: </td><td>
        <input type="text" name="username" />
    </label></td></tr><br>
    </table>
    </form>
</body>
</html>